<epp xmlns="urn:ietf:params:xml:ns:epp-1.0">
  <command>
    <renew>
      <domain:renew xmlns:domain="urn:ietf:params:xml:ns:domain-1.0">
        <domain:name>{{ domain_name }}</domain:name>
        <domain:curExpDate>{{ expires_on }}</domain:curExpDate>
        <domain:period unit="m">{{ period }}</domain:period>
      </domain:renew>
    </renew>
    <clTRID>{{ transaction_id }}</clTRID>
  </command>
</epp>
