<epp xmlns="urn:ietf:params:xml:ns:epp-1.0">
  <command>
    <create>
      <domain:create xmlns:domain="urn:ietf:params:xml:ns:domain-1.0">
        <domain:name>{{ domain_name }}</domain:name>
        <domain:period unit="m">{{ period }}</domain:period>
        {% if add_name_servers %}
          <domain:ns>
            {% for name_server in add_name_servers %}
              <domain:hostAttr>
                <domain:hostName>{{ name_server.hostname }}</domain:hostName>
                {% if name_server.ipv4_address %} <domain:hostAddr ip="v4">{{ name_server.ipv4_address }}</domain:hostAddr> {% endif %}
                {% if name_server.ipv6_address %} <domain:hostAddr ip="v6">{{ name_server.ipv6_address }}</domain:hostAddr> {% endif %}
              </domain:hostAttr>
            {% endfor %}
          </domain:ns>
        {% endif %}
        <domain:registrant>{{ add_registrant_id }}</domain:registrant>
        {% if add_admin_id %} <domain:contact type="admin">{{ add_admin_id }}</domain:contact> {% endif %}
        {% if add_technical_id %} <domain:contact type="tech">{{ add_technical_id }}</domain:contact> {% endif %}
        <domain:authInfo>
          <domain:pw></domain:pw>
        </domain:authInfo>
      </domain:create>
    </create>
    {% if add_secdns_keys %}
      <extension>
        <secDNS:create xmlns:secDNS="urn:ietf:params:xml:ns:secDNS-1.1">
          {% for secdns_key in add_secdns_keys %}
            <secDNS:dsData>
              <secDNS:keyTag>{{ secdns_key.key_tag }}</secDNS:keyTag>
              <secDNS:alg>{{ secdns_key.algorithm }}</secDNS:alg>
              <secDNS:digestType>{{ secdns_key.digest_type }}</secDNS:digestType>
              <secDNS:digest>{{ secdns_key.digest }}</secDNS:digest>
            </secDNS:dsData>
          {% endfor %}
        </secDNS:create>
      </extension>
    {% endif %}
    <clTRID>{{ action_id }}</clTRID>
  </command>
</epp>
