<epp xmlns="urn:ietf:params:xml:ns:epp-1.0">
  <command>
    <check>
      <domain:check xmlns:domain="urn:ietf:params:xml:ns:domain-1.0">
        {% for domain_name in domain_names %}
          <domain:name>{{ domain_name }}</domain:name>
        {% endfor %}
      </domain:check>
    </check>
  </command>
</epp>
