<epp xmlns="urn:ietf:params:xml:ns:epp-1.0">
  <command>
    {% if message_id %}
      <poll op="ack" msgID="{{ message_id }}" />
      <clTRID>{{ transaction_id }}</clTRID>
    {% else %}
      <poll op="req" />
    {% endif %}
  </command>
</epp>
